.sombra{
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.09);
}
body{
    padding-top:75px ;
   
}
.citacao{
    background: url("bg-quote.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}
.fonte01{
    font-size: 40px;
}
.fonte02{
    font-size: 20px ; 
}
.sombra-card{
    box-shadow:2px 2px 6px  rgba(0, 0, 0, 0.164);
}
.estilo-colorido{
    font-family: monospace;
    background-color: #218CFF;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    
}
.imagem{
    max-width:360px;
    margin-bottom: 10px;
    height: auto;

}
.card-scrool{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:20px;
    justify-content: center;
    margin: 0 auto;
    
}
.raio{
    border-radius:12px ;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.11);
}



@media(max-width:720px){
    .fonte01{
        font-size: 25px;
    }
    .fonte02{
        font-size:16px;
    }
}
@media(max-width:1000px){
    .card-scrool{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        overflow-x:scroll ;
        justify-content: left;
    }
    
}


